@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: vazir;
  src: url(../assets/Vazir-Regular-FD.woff);
}
.filters::-webkit-scrollbar {
  display: none;
}
.filters {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
